@import "tailwindcss";

@theme {
  --color-cream: #fdf6ec;
  --color-lilac: #a78bdb;
  --color-plum: #4a3868;
  --color-pink: #f5afc7;
  --color-sunny: #ffd35c;

  --font-display: var(--font-baloo);
  --font-body: var(--font-nunito);
}
